/* New FSJS project 2 - List Pagination and Filter - v2 - Data version */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', Helvetica, sans-serif;
	background-color: rgb(229, 238, 250);
  transition: 0.4s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  max-width: 1024px;
  margin: auto;
  width: 95%;
}



header {
  text-align: center;
	display: flex;
  flex-flow: column;
  justify-content: center;
	padding: 2em 0;
}

header h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: #4a5568;
  letter-spacing: 2px;
	margin-bottom: 25px;
}



.student-search {
  display: flex;
}

.student-search input {
  width: 100%;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgb(30, 144, 255);
  padding: 10px 16px;
  font-size: 14px;
}

.student-search input::placeholder {
  color: #929b9e;
}

.student-search button {
  cursor: pointer;
  width: 55px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #1e90ff;
  border-left: none;
  padding: 0px 5px;
  font-size: 14px;
  background-color: #1e90ff;
  color: #fff;
}

.student-search button img {
  width: 25px;
}



.student-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2em;
}

.student-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5em;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
}

.avatar {
  margin: 0 auto;
  border-radius: 50%;
  background-color: white;
  background-blend-mode: multiply, luminosity;
  width: 90px;
	height: 90px;
	margin: auto auto 15px;
}

.student-details::before {
	content: '';
	position: absolute;
	width: 90px;
	height: 90px;
	background: rgba(30, 144, 255, 0.25);
	border-radius: 50%;
}

.student-item h3 {
	font-weight: 600;
	font-size: 1.2rem;
  margin-bottom: 0.45em;
  color: #1e90ff;
}

.student-item .email {
	font-weight: 600;
  color: #6d778a;
  font-size: 14px;
  letter-spacing: .5px;
}

.date {
	display: block;
  font-size: 14px;
  color: #6a7679;
	font-weight: 400;
	width: 100%;
  padding-top: 1.1em;
  border-top: solid 1px #dcdcdc;
  margin-top: 1.1em;
}



.pagination {
  margin: 30px 0 60px;
  text-align: center;
}

.pagination li {
  display: inline;
  padding: 0 3px;
}

.pagination li button {
  font-size: 1em;
  cursor: pointer;
	outline: none;
	padding: 0.5em 0.85em;
	background: #fff;
  border: none;
  border-radius: 3px;
  text-decoration: none;
	color: #1e90ff;
	box-shadow: 0 1px 8px 0 rgba(22, 42, 90, 0.05);
	transition: 0.4s;
}

.pagination li button.active, .pagination li button:hover {
  background-color: #1e90ff;
  color: #fff;
}


.student-search span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}



.no-results {
	font-family: 'Nunito', sans-serif;
	display: block;
	font-size: 1.5rem;
	color: #6d778a;
	max-width: 500px;
  width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}



@media screen and (min-width: 700px) {

	.page {
		width: 70%;
	}
	
	header {
		flex-flow: row;
		align-items: center;
		padding: 3em 0;
	}
	
	header h2 {
    margin-right: auto;
		margin-bottom: 0;
	}

	.student-item {
		border-radius: 5px;
		box-shadow: 0 4px 16px 0 rgba(22, 42, 90, 0.09);
	}
}

div#results {
  position: absolute;
  background: #fff;
  z-index: 9;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 2px 6px 1px #1e90ff1c;
  display: none;
}

div#results.active {
  display: block;
}

.autocomplete-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}

.autocomplete-item:hover {
  border-bottom-color: #2989b6;
  background-color: #1e8fff13;
}

.autocomplete-item img {
  padding: 5px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  text-align: left;
}

.search-bar {
  position: relative;
}

.info-container p {
  padding: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#results .autocomplete-item:nth-last-child(1) {
  border-bottom: 0;
}

.no-results {
  margin: 0 auto;
}

.container {
  min-width: 220px;
  width: 100%;
  max-width: 1000px;
  height: 350px;
  margin: 50px auto;
  border: 5px solid #eee;
  background: #ccc;
  border-radius: 5px;
}

.no-result {
  width: 100%;
  height: 100%;
  background-image: url("https://lh3.googleusercontent.com/gPT2FaMFekwkQwicxgr0UAS5Y5Ux22OOaWGvlIu3MXq_tVvINXIl8xe05CIyJmfG6BC7vAr8Aw=w328-h348-no");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 50% 40%;
  position: relative;
}
.no-result::after {
  content: "No results";
  font-size: 2rem;
  font-family: Sans-serif;
  font-weight: bold;
  color: #575757;
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
}